<div class="main-container">
  <div class="alert alert-app-level"></div>
  <header class="header-6">
    <div class="branding">
      <a href="/" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Code Quiz</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          john.doe@vmware.com
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="..." clrDropdownItem>Preferences</a>
          <a href="..." clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <nav class="subnav">
    ...
  </nav>
  <div class="content-container">
    <div class="content-area">
      <h1>Welcome to code-quiz!</h1>
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <a class="nav-link" routerLink="/leaderboard" routerLinkActive="active">Leaderboard</a>
        <a class="nav-link" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
          Log In
        </a>
        <section class="nav-group collapsible" *ngIf="auth.isAuthenticated()">
          <input id="tabexample1" type="checkbox">
          <label for="tabexample1">Current user</label>
          <ul class="nav-list">
            <li><a class="nav-link" *ngIf="auth.isAuthenticated()" routerLink="/profile">Profile</a></li>
            <li><a class="nav-link" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Log out</a></li>
          </ul>
        </section>
        <section class="nav-group">
          <input id="tabexample2" type="checkbox">
          <label for="tabexample2">Default Nav Element</label>
          <ul class="nav-list">
            <li><a class="nav-link">Link 1</a></li>
            <li><a class="nav-link">Link 2</a></li>
          </ul>
        </section>
      </section>
    </nav>
  </div>
</div>
