<div class="clr-row">
  <div class="clr-col-sm-12 clr-col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Profile</h3>
      </div>
      <div class="card-block">
        <div class="card-media-block wrap">
          <img src="{{profile?.picture}}" class="card-media-image" alt="avatar">
          <div class="card-media-description">
            <span class="card-media-title">
              <h3 class="nickname">{{ profile?.nickname }}</h3>
            </span>
            <span class="card-media-text">
              <pre class="full-profile">{{ profile | json }}</pre>
            </span>
          </div>
        </div>
        <div class="card-text">
          ...
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link">Action</button>
      </div>
    </div>


  </div>
  <div class="clr-col-sm-12 clr-col-md-6">
    <span>clr-col-sm-12 clr-col-md-6</span>
  </div>
  <div class="clr-col-sm-12 clr-col-md-12">
    <span>clr-col-sm-12 clr-col-md-12</span>
  </div>
</div>
