<div *ngIf="auth.isAuthenticated()">
  <h4>You are logged in!</h4>

</div>
<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please <a class="link-text" (click)="auth.login()">Log In</a> to continue.
</h4>

<br />

<div *ngIf="auth.isAuthenticated()">
  <button class="btn btn-primary" routerLink="/quiz">Start Quiz</button>
</div>
