.link-text {
  color: #0079b8;
  padding: 2px 1px 0;
  text-decoration: none;
}

.link-text:hover {
  cursor: pointer;
  background-color: #d9e4ea;
  border-bottom: 1px solid;
}

.link-text:visited {
  color: #5659b9;
  text-decoration: none;
}
